<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Main</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/Content/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="~/Content/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Content/nice-select.min.css">
    <!-- Owl Carousel CSS -->
    <!--<link rel="stylesheet" href="~/Content/owl.carousel.min.css">-->
    <!-- Owl Carousel Default CSS -->
    <!---<link rel="stylesheet" href="~/Content/owl.theme.default.min.css">-->
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/Content/odometer.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/Content/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link rel="stylesheet" href="~/Content/contentItem.css">

    <link rel="stylesheet" href="~/Content/form-order.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="shortcut icon" href="https://img.icons8.com/ios/452/deliver-food.png" type="image/png">
</head>
<body>

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Navbar Area -->
    @RenderPage("~/Views/Header.cshtml")
    <!-- End Navbar Area -->
    <!-- Sidebar Modal -->
    <!-- <div class="sidebar-modal">
        <div class="sidebar-modal-inner">
            <div class="sidebar-about-area">
                <div class="title">
                    <h2>About Us</h2>
                    <p>We believe brand interaction is key in communication. Real innovations and a positive customer experience are the heart of successful communication. No fake products and services. The customer is king, their lives and needs are the inspiration.</p>
                </div>
            </div>

            <div class="sidebar-instagram-feed">
                <h2>Instagram</h2>
                <ul>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/instagram1.jpg" alt="image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/instagram2.jpg" alt="image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/instagram3.jpg" alt="image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/instagram4.jpg" alt="image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/instagram5.jpg" alt="image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/instagram6.jpg" alt="image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/instagram7.jpg" alt="image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram/instagram8.jpg" alt="image">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar-contact-area">
                <div class="contact-info">
                    <div class="contact-info-content">
                        <h2>
                            <a href="tel:+0881306298615">
                                +088 130 629 8615
                            </a>
                            <span>OR</span>
                            <a href="mailto:orgo@gmail.com">
                                orgo@gmail.com
                            </a>
                        </h2>

                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-pinterest-alt'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <span class="close-btn sidebar-modal-close-btn">
                <i class="flaticon-cancel"></i>
            </span>
        </div>
    </div> -->
    <!-- End Sidebar Modal -->





    @RenderBody()
    <!-- Start Footer Area -->
    <div class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="logo">
                            <h2>
                                <a href="index.html">Orgo</a>
                            </h2>
                        </div>
                        <p style="text-align: justify;">Orgo - це служба доставки апетитних європейських та азіатських страв у місті Хмельницькому. Ми пропонуємо різноманітне меню, швидку доставку та якісний сервіс. Плануєш обід з колегами в офісі, сімейне святкування або ж романтичну вечерю з коханою людиною?</p>
                        <ul class="social">
                            <li>
                                <a href="#" class="facebook" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest" target="_blank">
                                    <i class='bx bxl-pinterest-alt'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="linkedin" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-6">
                    <div class="single-footer-widget pl-5">
                        <h3>Посилання</h3>

                        <ul class="quick-links">
                            <li>
                                <a href="#about">Про нас</a>
                            </li>
                            <li>
                                <a href="#our_menu">Меню</a>
                            </li>
                            <li>
                                <a href="#contact">Контакти</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6" id="contact">
                    <div class="single-footer-widget">
                        <h3>Зв'язатись з нами</h3>

                        <ul class="footer-contact-info">
                            <li>
                                <i class='bx bxs-phone'></i>
                                <span>Телефон</span>
                                <a href="tel:407409202288">(+40) 74 0920 2288</a>
                            </li>
                            <li>
                                <i class='bx bx-envelope'></i>
                                <span>Електронний адрес</span>
                                <a href="mailto:hello@orgo.com">hello@orgo.com</a>
                            </li>
                            <li>
                                <i class='bx bx-map'></i>
                                <span>Адреса</span>
                                175 5th Ave Premium Area, New York, NY 10010, United States
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->
    <!-- Start Copy Right Area -->
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <p>
                            <i class="far fa-copyright"></i>
                            Copyright 2021. All Rights Reserved by
                            <a href="#" target="_blank">
                                Edik Muliar
                            </a>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- End Copy Right Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-up-arrow-alt'></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Start QuickView Modal Area -->
    <div class="modal fade productsQuickView" id="productsQuickView" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="flaticon-cancel"></i></span>
                </button>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="products-image"></div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="product-content">
                            <h3>Seasoned Tomatoes</h3>
                            <div class="price">
                                <span class="new-price">$541.00</span>
                                <span class="old-price">$652.00</span>
                            </div>
                            <div class="product-review">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <a href="#" class="rating-count">5 reviews</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                            <div class="product-add-to-cart">
                                <div class="input-counter">
                                    <span class="minus-btn">
                                        <i class='bx bx-minus'></i>
                                    </span>
                                    <input type="text" value="1">
                                    <span class="plus-btn">
                                        <i class='bx bx-plus'></i>
                                    </span>
                                </div>
                                <button type="submit" class="default-btn">
                                    Add to cart
                                </button>
                            </div>

                            <div class="buy-checkbox-btn">
                                <div class="item">
                                    <input class="inp-cbx" id="cbx" type="checkbox">
                                    <label class="cbx" for="cbx">
                                        <span>
                                            <svg width="12px" height="10px">
                                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                            </svg>
                                        </span>
                                        <span>I agree with the terms and conditions</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <a href="#" class="btn btn-light">Buy it now!</a>
                                </div>
                            </div>

                            <div class="products-share">
                                <ul class="social">
                                    <li><span>Share:</span></li>
                                    <li>
                                        <a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End QuickView Modal Area -->
    <!-- Jquery Slim JS -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="~/Scripts/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <!-- Meanmenu JS -->
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Scripts/jquery.nice-select.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <!-- Odometer JS -->
    <script src="~/Scripts/odometer.min.js"></script>
    <!-- Jquery Appear JS -->
    <script src="~/Scripts/jquery.appear.min.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/Scripts/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/Scripts/contact-form-script.js"></script>
    <!-- Wow JS -->
    <script src="~/Scripts/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/timerDelete.js"></script>
</body>
</html>
